<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ehworld</title>
    <link rel="icon" href="../static/img/icon.png" type="image">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/avatar.css">
    <link rel="stylesheet" href="../static/css/shop.css">
    <link rel="stylesheet" href="../static/css/header-.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/ehchochat.css">
</head>
<body>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/notifications.js"></script>
    
    <header class="header">
        <a href="/" class="logo">
            <img src="../static/img/EhWorld.svg" width="148">
        </a>

        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="nav-links" id="navLinks">
            <a href="/">Главная</a>
            <a href="/feed">Лента</a>
            <a href="/shop">Магазин</a>
            <a href="/inventory">Инвентарь</a>
            <a href="/upload">Загрузить</a>
            {{ if checkModRole .User.ID}}
            <a href="/moderator">Модерация</a>
            {{ end}}
            {{ if checkAdminRole .User.ID}}
            <a href="/admin">Админ панель</a>
            <a href="/queue">Очередь запросов</a>
            {{ end}}
        </div>
        
        <div class="search-container">
            <div class="search-box-container">
                <input 
                    id="searchInput"
                    type="search" 
                    class="search-box" 
                    placeholder="Поиск..."
                >
                <div class="search-results" id="searchResults"></div>
            </div>

            <div class="notification-container">
                <button class="notification-button" id="notificationButton">
                    {{ if hasNotifications .User.ID }}
                        <img src="../static/img/notifications-active.svg" width="32" height="32">
                    {{ else }}
                        <img src="../static/img/notifications-1.svg" width="32" height="32">
                    {{ end}}
                </button>
                
                <div class="notification-dropdown" id="notificationDropdown">
                    <div class="notification-header">
                        <span>Уведомления</span>
                    </div>
                    <div class="notification-list" id="notificationList">
                        <!-- Уведомления будут загружаться здесь -->
                    </div>
                </div>
            </div>

            <div class="avatar-dropdown">
            <img src="{{.User.ProfileImageURL}}" alt="Аватар" class="user-avatar" id="avatarDropdown">
            <div class="dropdown-content" id="dropdownContent">
                <div class="user-info">
                    <span class="username">{{.User.DisplayName}}</span>
                </div>
                <div class="dropdown-divider"></div>
                <a href="/user/{{.User.DisplayName}}" class="dropdown-link">
                    Профиль
                </a>
                <a href="/settings" class="dropdown-link">
                    Настройки
                </a>
                <a href="/logout" class="dropdown-link logout-button">
                    Выйти
                </a>
            </div>
        </div>
        </div>
    </header>

    <div class="container-md">
        <div class="section">
            <div class="balance-container">
                <div class="balance-title">
                    <div class="current-badge">
                        <h2>Текущий значок: </h2>
                        {{ if hasBadge .User.ID }}
                        <img src=" {{ .User.Badge }}" alt="Badge" class="user-badge" width="40" height="40">
                        {{ end }}
                    </div>
                    <p>Здесь вы можете приобрести VIP статус и значки для своего профиля. Эхчокоины можно получить за лайки на Ваши посты и комментарии! Учитывайте, что собственные лайки не учитываются</p>
                </div>
                <div class="balance-amount">
                    <h2>Ваш баланс</h2>
                    <h3>{{.User.Rating}} эхчокоинов</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Товары</h2>
            <!-- Сетка с товарами -->
            <div class="badge-grid">
                {{range .Items}}
                <div class="badge-card">
                    <div class="badge-image">
                        <img src="{{.Image}}" alt="{{.Title}}">
                    </div>
                    <div class="badge-content">
                        <h3 class="badge-title">{{.Title}}</h3>
                        <div class="badge-footer">
                            <div class="badge-price">{{.Cost}} э</div>
                            {{if .Owned}}
                                <div class="owned-badge">Уже куплено</div>
                            {{else}}
                                <button 
                                    class="buy-button" 
                                    data-id="{{.ID}}"
                                    {{ if lt .Rating .Cost }}disabled{{ end }}
                                >
                                    {{if lt .Rating .Cost}}Недостаточно{{else}}Купить{{end}}
                                </button>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

        <div class="section">
            <h2>Кейсы</h2>

            <!-- Сетка с кейсами -->
            <div class="badge-grid">
                {{range .Cases}}
                <div class="badge-card case-card">
                    <div class="badge-image">
                        <img src="{{.Image}}" alt="{{.Title}}">
                    </div>
                    <div class="badge-content">
                        <h3 class="badge-title">{{.Title}}</h3>
                        <h4 class="case-description" id="caseDescription">{{.Description}}</h3>
                        <div class="badge-footer">
                            <div class="badge-price">{{.Price}} э</div>
                                <button 
                                    class="open-case-button" 
                                    data-id="{{.ID}}"
                                    {{ if lt .Rating .Price }}disabled{{ end }}
                                >
                                    {{if lt .Rating .Price}}Недостаточно{{else}}Открыть{{end}}
                                </button>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <div id="caseModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalCaseTitle"></h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <img id="modalCaseImage" src="" alt="Case Image">
                <p id="modalCaseDescription"></p>
                
                <div class="rewards-section">
                    <h3>Возможные награды:</h3>
                    <div class="rewards-grid" id="rewardsGrid"></div>
                </div>
                
                <button id="openCaseBtn" class="case-button">Открыть за <span id="casePriceValue"></span> э</button>
            </div>
        </div>
        
        <div id="rewardPopup" class="reward-popup">
            <div class="reward-content">
                <h2>Поздравляем!</h2>
                <p>Вы получили:</p>
                <div class="reward-item">
                    <img id="rewardImage" src="" alt="Reward">
                    <h3 id="rewardTitle"></h3>
                </div>
                <button id="closeRewardBtn">Закрыть</button>
            </div>
        </div>
    </div>

    <div class="chat-widget">
        <button class="chat-button" id="chatButton">
            <img src="../static/img/comments.svg" alt="Chat" width="24" height="24">
        </button>
        <div class="chat-container" id="chatContainer">
            <div class="chat-header">
                <h4>Чат</h4>
                <button class="close-chat" id="closeChat">×</button>
            </div>
            <div class="messages-container" id="messagesContainer">
                <!-- Сообщения будут загружаться здесь -->
            </div>
            <div class="chat-input-container">
                <div class="file-preview" id="filePreview"></div>
                <div class="input-group">
                    <input type="text" id="messageInput" placeholder="Введите сообщение...">
                    <label for="fileInput" class="file-input-label">
                        <img src="../static/img/paperclip.svg" alt="Прикрепить файл" width="20" height="20">
                    </label>
                    <input type="file" id="fileInput" accept="image/*,audio/*" style="display: none;">
                    <button id="sendMessageBtn">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js"></script>
    <script src="../static/js/ehchochat-.js"></script>

    <footer class="footer">
        <div class="container-md">
            <div class="row">
                <div class="col-md-4 footer-section">
                    <h5>Ehworld</h5>
                    <p>Лучшая платформа для обмена файлами</p> <a href="https://www.twitch.tv/detoxique">Разработчик: detoxique</a>
                </div>
                <div class="col-md-4 footer-section">
                    <h5>Навигация</h5>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="/feed">Лента</a></li>
                        <li><a href="/upload">Загрузить</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-section">
                    <h5>Контакты</h5>
                    <ul>
                        <li><a href="mailto:ehchobyah@gmail.com">ehchobyah@gmail.com</a></li>
                        <li><a href="https://discord.gg/mMJfnkHQMg">Discord</a></li>
                        <li><a href="https://www.twitch.tv/ehchobyah">Twitch</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Ehworld. Все права защищены.</p>
            </div>
            </div>
        
    </footer>
    <script src="../static/js/shop.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/chat.js"></script>
</body>
</html>